#include "resource.h"

IDB_BACKGROUND    BITMAP DISCARDABLE "background.bmp"
IDB_SLIDER_BG     BITMAP DISCARDABLE "sliderbg.bmp"
IDB_SLIDER_PICK   BITMAP DISCARDABLE "sliderpick.bmp"
IDB_3_SWITCH      BITMAP DISCARDABLE "3switch.bmp"
IDB_2_SWITCH      BITMAP DISCARDABLE "2switch.bmp"
IDB_WHITE_BUTTON  BITMAP DISCARDABLE "whitebutton.bmp"
IDB_YELLOW_BUTTON BITMAP DISCARDABLE "yellowbutton.bmp"  
IDB_ORANGE_BUTTON BITMAP DISCARDABLE "orangebutton.bmp"
IDB_LFO_KICK      BITMAP DISCARDABLE "lfokick.bmp"
IDB_WHITE_KBUTTON BITMAP DISCARDABLE "whitekickbutton.bmp"

IDB_C             BITMAP DISCARDABLE "C.bmp"
IDB_D             BITMAP DISCARDABLE "D.bmp"
IDB_E             BITMAP DISCARDABLE "E.bmp"
IDB_F             BITMAP DISCARDABLE "F.bmp"
IDB_G             BITMAP DISCARDABLE "G.bmp"
IDB_A             BITMAP DISCARDABLE "A.bmp"
IDB_B             BITMAP DISCARDABLE "B.bmp"

IDB_HALF          BITMAP DISCARDABLE "half.bmp"

IDB_LAST          BITMAP DISCARDABLE "last.bmp"

IDB_KNOB          BITMAP DISCARDABLE "knob.bmp"
